layout {
    gaps 25
    center-focused-column "never"
    background-color "transparent"

    focus-ring {
        width 1.5
        active-color "#7fc8ff"
        inactive-color "transparent"
    }

    border {
        off
        width 1.5
    }

    shadow {
      off
      softness 30
      spread 5
      offset x=0 y=5
      color "#0007"
    }

    struts {
      left 28
      right 28
      bottom 28
    }

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
        proportion 1.0
    }

    default-column-width { proportion 0.5; }
}
