hotkey-overlay {
    skip-at-startup
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

prefer-no-csd

environment {
    XCURSOR_THEME "Bibata-Modern-Ice"
    XCURSOR_SIZE "22"
}

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 22
}
